
#gameScene canvas.show {
    -webkit-animation: show-canvas-ani 10s;
    animation: show-canvas-ani 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvas-ani {
    0%   { transform: scale(0.3); opacity: 0 }
    100%   { transform: scale(1); opacity: 1}
}

#gameSceneGradient.show {
    -webkit-animation: show-canvasGraidient-ani 13s;
    animation: show-canvasGraidient-ani 13s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvasGraidient-ani {
    0%   { transform: scale(0.7); opacity: 1 }
    100%   { transform: scale(1.4); opacity: 1}
}

#gameUIElements #tutorial .instructions.show h1 {
    -webkit-animation: show-instructions-ani .7s;
    animation: show-instructions-ani .7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.hide h1 {
    -webkit-animation: hide-instructions-ani .7s;
    animation: hide-instructions-ani .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.show .text1,
#gameUIElements #tutorial .instructions.hide .text1{
    -webkit-animation-delay: 0s;
}

#gameUIElements #tutorial .instructions.show .text2 {
    -webkit-animation-delay: 1s;
}

#gameUIElements #tutorial .instructions.show .text3 {
    -webkit-animation-delay: 2.3s;
}

#gameUIElements #tutorial .instructions.hide .text2 {
     -webkit-animation-delay: 0.4s;
}

#gameUIElements #tutorial .instructions.hide .text3 {
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes show-instructions-ani {
    0%   { transform: translate3d(0,50px,0); opacity: 0 }
    100%   { transform: translate3d(0,0px,0); opacity: 1}
}

@-webkit-keyframes hide-instructions-ani {
    0%   { transform: translate3d(0,0px,0); opacity: 1 }
    100%   { transform: translate3d(0,-50px,0); opacity: 0}
}

#engine.show {
    -webkit-animation: show-engine-ani 1.2s;
    animation: show-engine-ani 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-engine-ani {
    0%   { transform: scaleY(0); opacity: 0 }
    100%   { transform: scaleY(1); opacity: 1}
}


#photos.show {
    -webkit-animation: show-photos-ani 1s;
    animation: show-photos-ani 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-photos-ani {
    0%   { transform: scale(0); opacity: 0 }
    100%   { transform: scale(0.7); opacity: 1}
}

