#wrapper.show {
    -webkit-animation: show-ani 1s ease-out 0.5s;
    animation: show-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#wrapper.hide {
    -webkit-animation: hide-ani 1s ease-out 0.5s;
    animation: hide-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



#cameraFeedContainer.show {
    -webkit-animation: show-camera-feed-ani 1s ease-out;
    animation: show-camera-feed-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-camera-feed-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}


#cameraFeedContainer.hide{
    -webkit-animation: hide-camera-feed-ani 0.6s ease-out;
    animation: hide-camera-feed-ani 0.6s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hide-camera-feed-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}

#cameraFeedContainer #countDownValue.show {
    -webkit-animation: show-countDownValue-ani 0.3s ease-out;
    animation: show-countDownValue-ani 0.3s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-countDownValue-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}

#cameraFeedContainer #countDownValue.hide {
    -webkit-animation: hide-countDownValue-ani 0.3s ease-out;
    animation: hide-countDownValue-ani 0.3s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hide-countDownValue-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}


#photoFlash.show {
    -webkit-animation: show-flash-ani 1s;
    animation: show-flash-ani 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-flash-ani {
    0%   { opacity: 0 }
    50%   { opacity: 0.8}
    100%   { opacity: 0}
}


#getReadyContainer.show {
    -webkit-animation: show-ani 1s ease-out 0.5s;
    animation: show-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#getReadyContainer.hide {
    -webkit-animation: hide-ani 1s ease-out;
    animation: hide-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#getReadyContainer #tabletsArrow {
    -webkit-animation: move-arrow-ani 1s;
    animation: move-arrow-ani 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}


@-webkit-keyframes move-arrow-ani {
    0%   { transform: translateY(-20px);  }
    50%   { transform: translateY(20px);}
    100%   { transform: translateY(-20px);}
}


#gameScene canvas.show {
    -webkit-animation: show-canvas-ani 8s;
    animation: show-canvas-ani 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvas-ani {
    0%   { transform: scale(0.3); opacity: 0 }
    100%   { transform: scale(1); opacity: 1}
}

#gameSceneGradient.show {
    -webkit-animation: show-canvasGraidient-ani 11s;
    animation: show-canvasGraidient-ani 11s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvasGraidient-ani {
    0%   { transform: scale(0.4); opacity: 1 }
    100%   { transform: scale(1.7); opacity: 1}
}

#gameUIElements #tutorial .instructions.show h1 {
    -webkit-animation: show-instructions-ani .7s;
    animation: show-instructions-ani .7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.hide h1 {
    -webkit-animation: hide-instructions-ani .7s;
    animation: hide-instructions-ani .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.show .text1,
#gameUIElements #tutorial .instructions.hide .text1{
    -webkit-animation-delay: 0s;
}

#gameUIElements #tutorial .instructions.show .text2 {
    -webkit-animation-delay: 1s;
}

#gameUIElements #tutorial .instructions.show .text3 {
    -webkit-animation-delay: 2.3s;
}

#gameUIElements #tutorial .instructions.hide .text2 {
     -webkit-animation-delay: 0.4s;
}

#gameUIElements #tutorial .instructions.hide .text3 {
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes show-instructions-ani {
    0%   { transform: translate3d(0,50px,0); opacity: 0 }
    100%   { transform: translate3d(0,0px,0); opacity: 1}
}

@-webkit-keyframes hide-instructions-ani {
    0%   { transform: translate3d(0,0px,0); opacity: 1 }
    100%   { transform: translate3d(0,-50px,0); opacity: 0}
}


#transition2.show {
    opacity:1;
}

/*#transition2.hide {
    opacity:0;
}*/

#transition2.show .background .greenTop {
    -webkit-animation: show-greenTop-ani 0.7s ease-out;
    animation: show-engine-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transition2.show .background .greenBottom {
    -webkit-animation: show-greenBottom-ani 0.7s ease-out;
    animation: show-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transition2.hide .background .greenTop {
    -webkit-animation: hide-greenTop-ani 0.7s ease-out;
    animation: hide-greenTop-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transition2.hide .background .greenBottom {
    -webkit-animation: hide-greenBottom-ani 0.7s ease-out;
    animation: hide-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/*-----------------------*/
#engine.show {
}

#engine.hide {
}

@-webkit-keyframes show-engine-ani {
    /*0%   { opacity: 0 }*/
    /*100%   { opacity: 1}*/
}

@-webkit-keyframes hide-engine-ani {
    0%   { transform: scaleY(1); opacity: 1 }
    100%   { transform: scaleY(0); opacity: 0}
}

#engine.show .background .greenTop {
    -webkit-animation: show-greenTop-ani 0.7s ease-out;
    animation: show-engine-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.show .background .greenBottom {
    -webkit-animation: show-greenBottom-ani 0.7s ease-out;
    animation: show-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.hide .background .greenTop {
    -webkit-animation: hide-greenTop-ani 0.7s ease-out;
    animation: hide-greenTop-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.hide .background .greenBottom {
    -webkit-animation: hide-greenBottom-ani 0.7s ease-out;
    animation: hide-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-greenTop-ani {
    0%   { -webkit-transform: translateY(-600px) }
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenTop-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(-600px)}
}

@-webkit-keyframes show-greenBottom-ani {
    0%   { -webkit-transform: translateY(600px) }
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenBottom-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(600px)}
}



#photos.show {
    -webkit-animation: show-photos-ani 1s ease-out;
    animation: show-photos-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#photos.hide {
    -webkit-animation: hide-photos-ani 0.8s ease-out;
    animation: hide-photos-ani 0.8s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-photos-ani {
    0%   { transform: scale(0); opacity: 0 }
    100%   { transform: scale(0.7); opacity: 1}
}

@-webkit-keyframes hide-photos-ani {
    0%   { transform: scale(0.7); opacity: 1 }
    100%   { transform: scale(0); opacity: 0}
}


@-webkit-keyframes show-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}

@-webkit-keyframes hide-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}
