#wrapper.show {
    -webkit-animation: show-ani 1s ease-out 0.5s;
    animation: show-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#wrapper.hide {
    -webkit-animation: hide-ani 1s ease-out 0.5s;
    animation: hide-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#cameraFeedContainer.show {
    -webkit-animation: show-camera-feed-ani 1s ease-out;
    animation: show-camera-feed-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-camera-feed-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}

#cameraFeedContainer.hide{
    -webkit-animation: hide-camera-feed-ani 0.6s ease-out;
    animation: hide-camera-feed-ani 0.6s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hide-camera-feed-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}

#cameraFeedContainer #countDownValue.show {
    -webkit-animation: show-countDownValue-ani 0.3s ease-out;
    animation: show-countDownValue-ani 0.3s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-countDownValue-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}

#cameraFeedContainer #countDownValue.hide {
    -webkit-animation: hide-countDownValue-ani 0.3s ease-out;
    animation: hide-countDownValue-ani 0.3s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hide-countDownValue-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}

#photoFlash.show {
    -webkit-animation: show-flash-ani 1s;
    animation: show-flash-ani 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-flash-ani {
    0%   { opacity: 0 }
    50%   { opacity: 0.8}
    100%   { opacity: 0}
}


#getReadyContainer.show {
    -webkit-animation: show-ani 1s ease-out 0.5s;
    animation: show-ani 1s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#getReadyContainer.hide {
    -webkit-animation: hide-ani 1s ease-out;
    animation: hide-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#getReadyContainer #tabletsArrow {
    -webkit-animation: move-arrow-ani 1s;
    animation: move-arrow-ani 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}


@-webkit-keyframes move-arrow-ani {
    0%   { transform: translateY(-5px);  }
    50%   { transform: translateY(10px);}
    100%   { transform: translateY(-5px);}
}


#gameScene canvas.show {
    -webkit-animation: show-canvas-ani 4s;
    animation: show-canvas-ani 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvas-ani {
    0%   { transform: scale(0.3); opacity: 0 }
    100%   { transform: scale(1); opacity: 1}
}

#gameSceneGradient.show {
    -webkit-animation: show-canvasGraidient-ani 4s;
    animation: show-canvasGraidient-ani 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameSceneGradient.hide {
    -webkit-animation: hide-canvasGraidient-ani 2.5s;
    animation: hide-canvasGraidient-ani 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvasGraidient-ani {
    0%   { transform: scale(0.31); opacity: 1 }
    100%   { transform: scale(1); opacity: 1}
}
@-webkit-keyframes  hide-canvasGraidient-ani {
    0%   { transform: scale(1); opacity: 1 }
    100%   { transform: scale(1.2); opacity: 0}
}

#gameUIElements #tutorial .instructions.show h1 {
    -webkit-animation: show-instructions-ani .5s;
    animation: show-instructions-ani .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.hide h1 {
    -webkit-animation: hide-instructions-ani .5s;
    animation: hide-instructions-ani .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.show .text1,
#gameUIElements #tutorial .instructions.hide .text1{
    -webkit-animation-delay: 0s;
}

#gameUIElements #tutorial .instructions.show .text2 {
    -webkit-animation-delay: 0.5s;
}

#gameUIElements #tutorial .instructions.show .text3 {
    -webkit-animation-delay: 1s;
}

#gameUIElements #tutorial .instructions.hide .text2 {
     -webkit-animation-delay: 0.2s;
}

#gameUIElements #tutorial .instructions.hide .text3 {
    -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes show-instructions-ani {
    0%   { transform: translate3d(0,50px,0); opacity: 0 }
    100%   { transform: translate3d(0,0px,0); opacity: 1}
}

@-webkit-keyframes hide-instructions-ani {
    0%   { transform: translate3d(0,0px,0); opacity: 1 }
    100%   { transform: translate3d(0,-50px,0); opacity: 0}
}

/*---------------------transition---------------------------*/
#transitionsContainer.show #greenTop {
    -webkit-animation: show-greenTop-ani 1s ease-out;
    animation: show-engine-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.show #greenBottom {
    -webkit-animation: show-greenBottom-ani 1s ease-out;
    animation: show-greenBottom-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.hide #greenTop {
    -webkit-animation: hide-greenTop-ani 1s ease-out;
    animation: hide-greenTop-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.hide #greenBottom {
    -webkit-animation: hide-greenBottom-ani 1s ease-out;
    animation: hide-greenBottom-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-greenTop-ani {
    0%   { -webkit-transform: translateY(-1080px)}
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenTop-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(-1080px)}
}

@-webkit-keyframes show-greenBottom-ani {
    0%   { -webkit-transform: translateY(1080px) }
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenBottom-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(1080px)}
}


/*---------------------transition vertical---------------------------*/
#transitionsContainer.show #greenLeft {
    -webkit-animation: show-greenLeft-ani 1s ease-out;
    animation: show-engine-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.show #greenRight {
    -webkit-animation: show-greenRight-ani 1s ease-out;
    animation: show-greenBottom-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.hide #greenLeft {
    -webkit-animation: hide-greenLeft-ani 1s ease-out;
    animation: hide-greenTop-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transitionsContainer.hide #greenRight {
    -webkit-animation: hide-greenRight-ani 1s ease-out;
    animation: hide-greenRight-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-greenLeft-ani {
    0%   { -webkit-transform: translateX(-1920px) }
    100%   { -webkit-transform: translateX(0px)}
}

@-webkit-keyframes hide-greenLeft-ani {
    0%   { -webkit-transform: translateX(0px) }
    100%   { -webkit-transform: translateX(-1920px)}
}

@-webkit-keyframes show-greenRight-ani {
    0%   { -webkit-transform: translateX(1920px) }
    100%   { -webkit-transform: translateX(0px)}
}

@-webkit-keyframes hide-greenRight-ani {
    0%   { -webkit-transform: translateX(0px) }
    100%   { -webkit-transform: translateX(1920px)}
}

#transition2.show {
    opacity:1;
}

/*-----------------------*/
#transition3.show {
    opacity:1;
}

@-webkit-keyframes show-engine-ani {
    /*0%   { opacity: 0 }*/
    /*100%   { opacity: 1}*/
}

@-webkit-keyframes hide-engine-ani {
    0%   { transform: scaleY(1); opacity: 1 }
    100%   { transform: scaleY(0); opacity: 0}
}


#transition3 #engine #photos.show {
    -webkit-animation: show-photos-ani 1s ease-out;
    animation: show-photos-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#transition3 #engine #photos.hide {
    -webkit-animation: hide-photos-ani 0.8s ease-out;
    animation: hide-photos-ani 0.8s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#endGamePanel.show {
    -webkit-animation: show-ani 1s ease-out;
    animation: show-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#endGamePanel.hide {
    -webkit-animation: hide-ani 1s ease-out;
    animation: hide-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-photos-ani {
    0%   { transform: scale(0); opacity: 0 }
    100%   { transform: scale(1); opacity: 1}
}

@-webkit-keyframes hide-photos-ani {
    0%   { transform: scale(0.7); opacity: 1 }
    100%   { transform: scale(0); opacity: 0}
}


@-webkit-keyframes show-ani {
    0%   { opacity: 0 }
    100%   { opacity: 1}
}

@-webkit-keyframes hide-ani {
    0%   { opacity: 1 }
    100%   { opacity: 0}
}
