
#gameScene canvas.show {
    -webkit-animation: show-canvas-ani 10s;
    animation: show-canvas-ani 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvas-ani {
    0%   { transform: scale(0.3); opacity: 0 }
    100%   { transform: scale(1); opacity: 1}
}

#gameSceneGradient.show {
    -webkit-animation: show-canvasGraidient-ani 13s;
    animation: show-canvasGraidient-ani 13s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show-canvasGraidient-ani {
    0%   { transform: scale(0.4); opacity: 1 }
    100%   { transform: scale(1.4); opacity: 1}
}

#gameUIElements #tutorial .instructions.show h1 {
    -webkit-animation: show-instructions-ani .7s;
    animation: show-instructions-ani .7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.hide h1 {
    -webkit-animation: hide-instructions-ani .7s;
    animation: hide-instructions-ani .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#gameUIElements #tutorial .instructions.show .text1,
#gameUIElements #tutorial .instructions.hide .text1{
    -webkit-animation-delay: 0s;
}

#gameUIElements #tutorial .instructions.show .text2 {
    -webkit-animation-delay: 1s;
}

#gameUIElements #tutorial .instructions.show .text3 {
    -webkit-animation-delay: 2.3s;
}

#gameUIElements #tutorial .instructions.hide .text2 {
     -webkit-animation-delay: 0.4s;
}

#gameUIElements #tutorial .instructions.hide .text3 {
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes show-instructions-ani {
    0%   { transform: translate3d(0,50px,0); opacity: 0 }
    100%   { transform: translate3d(0,0px,0); opacity: 1}
}

@-webkit-keyframes hide-instructions-ani {
    0%   { transform: translate3d(0,0px,0); opacity: 1 }
    100%   { transform: translate3d(0,-50px,0); opacity: 0}
}



#engine.show {
}

#engine.hide {
}

@-webkit-keyframes show-engine-ani {
    /*0%   { opacity: 0 }*/
    /*100%   { opacity: 1}*/
}

@-webkit-keyframes hide-engine-ani {
    0%   { transform: scaleY(1); opacity: 1 }
    100%   { transform: scaleY(0); opacity: 0}
}

#engine.show .background #greenTop {
    -webkit-animation: show-greenTop-ani 0.7s ease-out;
    animation: show-engine-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.show .background #greenBottom {
    -webkit-animation: show-greenBottom-ani 0.7s ease-out;
    animation: show-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.hide .background #greenTop {
    -webkit-animation: hide-greenTop-ani 0.7s ease-out;
    animation: hide-greenTop-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#engine.hide .background #greenBottom {
    -webkit-animation: hide-greenBottom-ani 0.7s ease-out;
    animation: hide-greenBottom-ani 0.7s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-greenTop-ani {
    0%   { -webkit-transform: translateY(-600px) }
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenTop-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(-600px)}
}

@-webkit-keyframes show-greenBottom-ani {
    0%   { -webkit-transform: translateY(600px) }
    100%   { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes hide-greenBottom-ani {
    0%   { -webkit-transform: translateY(0px) }
    100%   { -webkit-transform: translateY(600px)}
}



#photos.show {
    -webkit-animation: show-photos-ani 1s ease-out;
    animation: show-photos-ani 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#photos.hide {
    -webkit-animation: hide-photos-ani 0.8s ease-out;
    animation: hide-photos-ani 0.8s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-photos-ani {
    0%   { transform: scale(0); opacity: 0 }
    100%   { transform: scale(0.7); opacity: 1}
}

@-webkit-keyframes hide-photos-ani {
    0%   { transform: scale(0.7); opacity: 1 }
    100%   { transform: scale(0); opacity: 0}
}

