html, body {
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

h1, h2 {
    padding:0;
    margin:0;
}

h1, h2, div, p {
    font-family: "FordAntenna", sans-serif;
}

img {
    width:100%;
}

.frame {
    overflow: hidden;
}

#ViewPort {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#wrapper {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 88;
    opacity:1;
}

#preparation {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;

}

/*---------get Ready------*/
#getReadyContainer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:101;
    opacity: 0;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}

#getReadyContainer #tabletsContainer {
    position:absolute;
    top:0px;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width:748px;
    height:586px;
}


#getReadyContainer #tablets {
    position:absolute;
    top:0px;
    left:0;
    bottom:0;
    right:0;
    width:749px;
    height:482px;
}

#getReadyContainer #tablets img, #getReadyContainer #tabletsArrow img {
    width:100%;
    height:auto;
}

#getReadyContainer #tabletsArrow {
    position: absolute;
    top: -90px;
    left: 260px;
    bottom: 0;
    right: 0;
    width: 239px;
    height: 332px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

#getReadyContainer .text {
    position: absolute;
    left: 0;
    bottom: 200px;
    right: 0;
    margin: auto;
    text-align: center;
}

#getReadyContainer .text h1{
    color: #003478;
    font-size: 48px;
    line-height: 48px;
}

#getReadyContainer .text h2{
    color: #003478;
    font-size: 36px;
    line-height: 10px;
}

/*---------camera------*/
#cameraFeedContainer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    opacity: 0;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}

#cameraFeedContainer .text {
    position:absolute;
    top:200px;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width:100%;
    height:auto;
    text-align: center;
}

#cameraFeedContainer .text h1{
    color: #003478;
    font-size: 48px;
    line-height: 48px;
}

#cameraFeedContainer .text h2{
    color: #003478;
    font-size: 36px;
    line-height: 10px;
}


#cameraFeedContainer #myCamera {
    position:absolute;
    top:170px;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width: 848px !important;
    height: 535px !important;
}


#camera-feed {

    width: 100% !important;
    height: 100% !important;

}


#camera-feed video {

    width: 100% !important;
    height: 100% !important;
}


#cameraFeedContainer #frame {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

#cameraFeedContainer #frame .frameCorner{
    position:absolute;
    width:62px;
    height:62px;
}

#cameraFeedContainer #frame #frame1 {
    left: 30px;
    top: -36px;
}

#cameraFeedContainer #frame #frame2 {
    left: 753px;
    top: -36px;
    -webkit-transform: rotate(90deg);
}

#cameraFeedContainer #frame #frame3 {
    left: 753px;
    top: 507px;
    -webkit-transform: rotate(180deg);
}

#cameraFeedContainer #frame #frame4 {
    left: 30px;
    top: 507px;
    -webkit-transform: rotate(270deg);
}

#cameraFeedContainer img {
    width:100%;
    height:auto;
}

#frameDot {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position: absolute;
    width: 761px;
    height: 437px;
}

#cameraFeedContainer #countDownValue {
    position:absolute;
    top:0;
    width:100%;
    text-align: center;
    opacity: 0;
}

#cameraFeedContainer #countDownValue p {
    font-size: 150px;
    color:#5a8ebb;
    font-weight: bold;
}

#cameraFeedContainer #takenPhoto {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 715px;
    height: auto;
    right: 0;
    margin: auto;
}

#photoFlash {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
    opacity: 0;
}


#wrapper #video-wrapper {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out;
    z-index: 3;
}

#gameSceneGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    /*margin: -960px 0 0 -540px;*/
    /*margin: -1350px 0 0 -2400px;*/
    -webkit-transform: scale(0);
    /* border-radius: 999px; */
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(24%,rgba(0,0,0,0)), color-stop(49%,rgba(0,0,0,1)), color-stop(68%,rgba(0,0,0,1)), color-stop(99%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);*/
    /*background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);*/
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);*/
    /*background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );*/
    background:url("../images/gradientbg.png") no-repeat;
    background-position: 50% 50%;
}

#gameScene {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
}

#gameScene canvas {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0.3);
    /*border-radius:999px;*/
    opacity:1;
}


#gameUIElements {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:4;
    opacity:1;
}

#gameUIElements #tutorial {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#instruction2 h1 {
    /*text-align: center;*/
}

#gameUIElements #tutorial #instruction2 #instruArrow {
    position: absolute;
    left: 176px;
    top: -182px;
    width: 78px;
    height:109px;
}
#gameUIElements #tutorial #instruction2 #instruArrow img {
    width:100%;
}

#gameUIElements #tutorial .instructions {
    text-align: center;
    position: absolute;
    width:80%;
    top:40%;
    left:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

#gameUIElements #tutorial .instructions h1 {
    position:relative;
    color: #cccccc;

    -webkit-transform: translate3d(0px, 50px, 0px);
    transform: translate3d(0px, 50px, 0px);
    opacity: 0;
}

#gameUIElements #tutorial .instructions.hide h1 {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}

#gameUIElements #rpms {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -4px;
    opacity:1;
    z-index: 6;
    -webkit-transition:opacity 1.2s ease-out;
    transition:opacity 1.2s ease-out;
}

#gameUIElements #rpms.show {
    opacity:1;
}

/*player1rpm*/
#gameUIElements #rpms #player1rpm {
    position: absolute;
    bottom: 40px;
    left: 75px;
    width: 100px;
    height: 360px;
}

#gameUIElements #rpms #player1rpm_bg {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 360px;
    -webkit-transform: translateY(360px);
    transform: translateY(360px);
    -webkit-filter: brightness(0.5);
    z-index: 1;
}

/*#gameUIElements #rpms #player1rpm .elements {
    position: relative;
    float:left;
    top:0;
    left:0;
    width: 300px;
    height: 150px;
}*/

#gameUIElements #rpms #player1rpm .elements .background{
    position: absolute;
    width: 300px;
    height: 150px;
    z-index:3;
}

#gameUIElements #rpms #player1rpm .elements #myCanvas {
    position:absolute;
    left:0;
    top:0;
    background-color: transparent;
    z-index:2;
}

#gameUIElements #rpms #player1rpm .elements .indicator {
    position: absolute;
    bottom: 6px;
    left: 149px;
    width: 3px;
    height: 106px;
    background-color: #ca0203;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(-83deg);
    z-index: 4;
}

#gameUIElements #rpms #player1rpm .elements #greyCenter {
    position: absolute;
    top: 119px;
    left: 118px;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    background-color: #7f7f7f;
    z-index: 98;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 5;
}

#gameUIElements #rpms #player1rpm #player1rpm_value
{
    position: absolute;
    left: 119px;
    bottom: -2px;
    width: 200px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}


/*player2rpm*/

#gameUIElements #rpms #player2rpm {
    position: absolute;
    right: 75px;
    bottom: 40px;
    width: 100px;
    height: 360px;
}

#gameUIElements #rpms #player2rpm_bg {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 360px;
    -webkit-transform: translateY(360px);
    transform: translateY(360px);
    -webkit-filter: brightness(0.5);
    z-index: 1;
}

#gameUIElements #rpms #player2rpm svg , #gameUIElements #rpms #player1rpm svg{
    position:absolute;
    left:0px;
    top:0;
    width:100px;
    height:360px;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: translateY(-360px);
}

#gameUIElements #rpms #player2rpm #verticalMask2 ,#gameUIElements #rpms #player1rpm #verticalMask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 360px;
    -webkit-transition: all 0.3s linear;
    -webkit-transform: translateY(360px);
    /*border: 1px solid red;*/
    overflow: hidden;
    z-index: 2;
}

#gameUIElements #rpms #player2rpm #player2rpm_value {
    position: absolute;
    right: 118px;
    bottom: -2px;
    width: 200px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

#gameUIElements #rpms #player1rpm #player1rpm_value span, #gameUIElements #rpms #player2rpm #player2rpm_value span{
    font-size: 26px;
}

#gameUIElements #teamRPM {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-out 0.5s;
    transition: opacity 1s ease-out 0.5s;
    /*border:1px solid grey;*/
}

#gameUIElements #teamRPM.show {
    opacity:1;
}


#gameUIElements #teamRPM .elements {
    position: relative;
    margin: 44px auto 0 auto;
    width: 1200px;
    height: 36px;
    /*border:1px solid green;*/

}

#gameUIElements #teamRPM .elements .bar {
    position:absolute;
    width:100%;
    height:100%;
}

#gameUIElements #teamRPM .elements .bar .background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 15px 0 15px 0;
    background: rgb(7,52,120); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(7,52,120,1) 0%, rgba(79,140,185,1) 50%, rgba(7,52,120,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(7,52,120,1)), color-stop(50%,rgba(79,140,185,1)), color-stop(100%,rgba(7,52,120,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(7,52,120,1) 0%,rgba(79,140,185,1) 50%,rgba(7,52,120,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(7,52,120,1) 0%,rgba(79,140,185,1) 50%,rgba(7,52,120,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(7,52,120,1) 0%,rgba(79,140,185,1) 50%,rgba(7,52,120,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(7,52,120,1) 0%,rgba(79,140,185,1) 50%,rgba(7,52,120,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073478', endColorstr='#073478',GradientType=1 ); /* IE6-9 */
}

#gameUIElements #teamRPM .elements .bar .background .levelColor {
    position: relative;
    left: 0;
    top: 0;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

#gameUIElements #teamRPM .elements .bar .bgGradient {
    position:absolute;
    left: 5px;
    top: 3px;
    width:100%;
    height:100%;
    opacity:0.9;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames .frames {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 6px;
    height: 19px;
    background-color: #00416E;
}


#gameUIElements #teamRPM .elements .bar .levelBarFrames #barLevel1 {
    left: 141px;
}
#gameUIElements #teamRPM .elements .bar .levelBarFrames #barLevel2 {
    left: 426px;
}
#gameUIElements #teamRPM .elements .bar .levelBarFrames #barLevel3 {
    left: 994px;
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames .number {
    position: absolute;
    top: 12px;
    color:#003478;
    font-size: 30px;
    font-weight: bold;
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames #number1{
    left: 68px;

}

#gameUIElements #teamRPM .elements .bar .levelBarFrames #number2{
    left: 287px;
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames #number3{
    left: 703px
}

#gameUIElements #teamRPM .elements .bar .levelBarFrames #number4{
    left: 1047px;
}

#gameUIElements #teamRPM .elements .indicator {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 1140px;
    height: 36px;
    -webkit-transition: all 0.3s linear;
}

#gameUIElements #teamRPM .elements .indicator .indicatorColor {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 37px;
    margin: 0 auto;
    background: rgb(0,59,90);
    background: -moz-linear-gradient(left, rgba(0,59,90,1) 0%, rgba(0,136,245,1) 47%, rgba(114,255,255,1) 94%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,59,90,1)), color-stop(47%,rgba(0,136,245,1)), color-stop(94%,rgba(114,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,59,90,1) 0%,rgba(0,136,245,1) 47%,rgba(114,255,255,1) 94%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,59,90,1) 0%,rgba(0,136,245,1) 47%,rgba(114,255,255,1) 94%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,59,90,1) 0%,rgba(0,136,245,1) 47%,rgba(114,255,255,1) 94%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(0,59,90,1) 0%,rgba(0,136,245,1) 47%,rgba(114,255,255,1) 94%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b5a', endColorstr='#ffffff',GradientType=1 );
    border-radius: 10px;
    opacity: 0.8;
}

.indicatorBg {
    position: absolute;
    left: -9px;
    top: -7px;
    width: 1156px;
    height: 50px;
    margin: 0px;
    background: rgb(0,49,69);
    background: -moz-linear-gradient(left, rgba(0,49,69,1) 0%, rgba(147,208,233,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,49,69,1)), color-stop(100%,rgba(147,208,233,1)));
    background: -webkit-linear-gradient(left, rgba(0,49,69,1) 0%,rgba(147,208,233,1) 100%);
    background: -o-linear-gradient(left, rgba(0,49,69,1) 0%,rgba(147,208,233,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,49,69,1) 0%,rgba(147,208,233,1) 100%);
    background: linear-gradient(to right, rgba(0,49,69,1) 0%,rgba(147,208,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003145', endColorstr='#93d0e9',GradientType=1 );
    border-radius: 10px;
    opacity: 0.7;
}


#gameUIElements #teamRPM #boostIcons {
    width:100%;
}

#gameUIElements #teamRPM #boostIcons .boost{
    position: relative;
    float: left;
    width:107px;
    height:140px;
    left: 737px;
    top: 40px;
    background: url("../images/engineiconbg.png") no-repeat;
    -webkit-transition: all 0.6s ease-out;
}

#gameUIElements #teamRPM #boostIcons .boost span {
    position: relative;
    top: 52px;
    font-size: 26px;
    color: #073478;
    font-weight: bold;
    left: 7px;
}

#gameUIElements #teamRPM #boostIcons #boost2 {
    left: 1217px;
    top: 40px;
}

#gameUIElements #teamRPM #boostIcons img{
    position: relative;
    left: 23px;
    top: 60px;
    width: 47px;
    height: auto;
}


#gameUIElements #speedMeter {
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    bottom: 25px;
    width: 360px;
    height:220px;
    opacity:0;
    -webkit-transition: opacity 1s ease-out 0.5s;
    transition: opacity 1s ease-out 0.5s;
    /*border:1px red solid;*/
}

#gameUIElements #speedMeter .elements {
    position:relative;
    width:100%;
    height:100%;
}

#gameUIElements #speedMeter .background {
    position: absolute;
    width: 351px;
    height: 200px;
    background: url("../images/speedbg.png") no-repeat;
    background-size: 100% auto;
}

/*#gameUIElements #speedMeter .clock {
    margin: 0 auto;
    width: 242px;
}*/

#gameUIElements #speedMeter .elements .indicator {
    position: absolute;
    bottom: 63px;
    left: 168px;
    width: 23px;
    height: 146px;
    background: url("../images/speedindicator.png") no-repeat;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(-103deg);
    z-index: 4;
}

#gameUIElements #speedMeter #speedMeter_value {
    position: relative;
    top: -46px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: white;
}


#mainOverlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out;
    z-index: 2;
}

#mainOverlay.show {
    opacity: 1;
}


/*----------------transition---------------------------*/
#transitionsContainer {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    z-index:1001;
}

#transitionsContainer #greenTop {
    position:absolute;
    top:0px;
    left:0;
    width:1920px;
    height:1080px;
    background: url(../images/backplatetop.png) no-repeat;
    background-size: cover;
    -webkit-transform:translateY(-1080px);
    /*z-index:2;*/
}

#transitionsContainer #greenBottom {
    position:absolute;
    top:0;
    left:0;
    width:1920px;
    height:1080px;
    background: url(../images/backplatebottom.png) no-repeat;
    -webkit-transform:translateY(1080px);
    background-size: cover;
    /*z-index:1;*/
}


#transitionsContainer.show #greenTop{
    -webkit-transform:translateY(-1080px);
}

#transitionsContainer.show #greenBottom{
    -webkit-transform:translateY(1080px);
}

#transitionsContainer.hide #greenTop{
    -webkit-transform:translateY(0px);
}

#transitionsContainer.hide #greenBottom{
    -webkit-transform:translateY(0px);
}


/**/

#transition1 {
    display: block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:854px;
    height:202px;
    margin:auto;
    opacity:0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#transition1.show {
    -webkit-transition: opacity 0.6s ease-out 1s;
    transition: opacity 0.6s ease-out 1s;
    opacity:1;
}

#transition1 #congratsContainer {
    position:relative;
    text-align:center;
    color:white;
}

#transition1 #congratsContainer h1 {
    line-height: 91px;
    font-size: 80px;
}

#transition1 #congratsContainer h2 {
    font-size: 60px;
}

/*transition2*/
#transition2 {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    opacity:1;
    z-index:100;
}

#transition2 .background {
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
}

#transition2 .background .greenTop {
    position:absolute;
    top:0px;
    left:0;
    width:1920px;
    height:50%;
    background: url(../images/backplatetop.jpg) no-repeat;
    background-size: cover;
    -webkit-transform:translateY(-600px);
}

#transition2 .background .greenBottom {
    position:absolute;
    top:50%;
    left:0;
    width:1920px;
    height:50%;
    background: url(../images/backplatebottom.jpg) no-repeat;
    -webkit-transform:translateY(600px);
    background-size: cover;
}

/*engine*/
#transition3 #engine {
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    width:720px;
    height:722px;
    opacity:1;
}

#transition3 #engine #photos {
    position:absolute;
    left:0;
    top:0;
    width:720px;
    height:722px;
    background-position: 0 0;
    background: url('../images/engine3.png') no-repeat;
    opacity: 0;
    -webkit-transform:scale(0);
}

#endGamePanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1466px;
    height: 626px;
    text-align: center;
    color: white;
    opacity: 0;
}

#endGamePanel .title {
    font-size: 71px;
}

#endGamePanel #chi-result {
    font-size: 40px;
    margin: 60px 0 0 0;
}

#endGamePanel #en-result {
    margin: 30px 0 0 0;
    font-size: 32px;
}

#endGameCountDown {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
    font-size:60px;
    text-align: center;
    z-index:1000;
    opacity:0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

#endGameCountDown h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}


@media only screen and (min-width: 1440px) {
    .instructions h1 { font-size: 44px; line-height: 63px; }
}

@media only screen and (max-width: 1439px) {
    .instructions h1 { font-size: 2em; }

}




